@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body,html {
        background-image: linear-gradient(to right, #C1A691, #C7C8CA );
    }
    
    #login {
        width: 90vw;
        height: 400px;

    }
    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
       
    }
    #login > #formulario {
        float: right;
        width: 50%;
        height: 100%;
        
    }
    #login > #formulario > h1,p {
        margin: 20px;
        

    }
    #login > #formulario > h1 {
        margin-bottom: 20px;
        font-size: 30px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
    }

}

@media  screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to right, #C1A691, #C7C8CA );
    }
    #login {
        width: 990px;

    }
    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;

    }
    #login > #formulario {
        float: right;
        width: 50%;
    }
    #login > #formulario > h1 {
        margin-bottom: 20px;
    }
    #login > #formulario > h1, p {
        margin: 30px
    }
    
}