@charset "UTF-8";

/* Paleta de cores

#BF0436 - Rosa Choque
#D9529C - Rosa Claro
#D90B91 - Rosa arroxeado
#4ABFD9 - azul ciano
#F2D091 - bege
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body, html {
    background-image: linear-gradient(to bottom, #C1A691, #C7C8CA );
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    border-radius: 20px;
    


}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#login > #imagem {
    background: #D9529C url(../imagens/63918.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    border-radius: 20px 20px 0px 0px;
    height: 140px;
    width: 250px;
    overflow: hidden;
 
}

#login > #formulario {
    padding: 10px;
    display: block;
    
}

#login > #formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
#login > #formulario > p {
    text-align: center;
}

